<%= form_with model: @url do |form| %>
  <div class="input-group">
  <%= form.text_field :full_url, placeholder: 'Type or paste your link', "aria-label": 'Full link', class: 'form-control' %>
  <%= form.submit 'Shorten', class: 'btn btn-primary' %>
  </div>
<% end %>