<div class="text-center">
  <%= image_tag 'link_shortener_hero.svg', class: 'hero-img py-3', alt: 'Link Shortener Hero Image' %>
  <div class="py-5">
    <h1>Shorten Any Link</h1>
    <p>Manage, track and simplify the web using powerful and recognizable short links.</p>
  </div>
  <%= render 'form' %>
</div>