<%= image_tag 'link_shortener_hero.svg', class: 'h-50 mw-100 d-block mx-auto', alt: 'Link Shortener Hero Image' %>
<div class="p-4 text-center">
  <h1>Shorten Any Link</h1>
  <p>Manage, track and simplify the web using powerful and recognizable short links.</p>
</div>
<%= render 'form' %>