<header class="bg-white mb-3">
  <div class="d-flex justify-content-between align-items-center shadow-sm p-3">
    <div class="fs-3">
      <%= link_to(icon('fas', 'link', 'Shortener', class: 'text-primary'), root_path,
      class: 'text-dark text-decoration-none') %>
    </div>
    <% if user_signed_in? %>
      <%= link_to icon('fas', 'sign-out-alt', class: 'fs-4 text-primary'), destroy_user_session_path, data: { confirm: 'Are you sure?'}, method: :delete %>
    <% else %>
      <%= link_to icon('fas', 'sign-in-alt', class: 'fs-4 text-primary'), new_user_session_path %>
    <% end %>
  </div>
</header>